@import "@/style/element/index.css";
@import "@/style/element/defaultTheme.css";

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mr4{
    margin-right: 4px;

}
.mr8{
    margin-right: 8px;
}
.ml8{
    margin-left: 8px;
}
